@using DSR_Summer_Practice.Data.Models
<div class="row mt-5 mb-2">
    @{
        foreach (Currency сurrency in Model.currencies)
        {
            <label class="container">@Html.ActionLink(сurrency.Name, "CurrencyExchangeRateDetails", "Index", new { id = сurrency.ID })
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        }
    }
</div>